In [1]:
import pandas as pd

In [2]:
headers = ['spf','dkim','dmarc']
df = pd.read_csv('/content/spf-dkim-dmarc-vals.csv', header = None, names = headers)

In [3]:
df.head(3)

   spf  dkim  dmarc
0    3     1      0
1    3     1      0
2    1     1      0

In [4]:
def spf_score_gen(data):
  lst = []
  for i in range(len(data)):
    a = data['spf'][i]*data['dkim'][i]*data['dmarc'][i]
    lst.append(a)
  return lst

In [5]:
data = df
data['score'] = spf_score_gen(data)

In [6]:
data

    spf  dkim  dmarc  score
0     3     1      0      0
1     3     1      0      0
2     1     1      0      0
3     2     0      1      0
4     0     1      0      0
5     2     0      0      0
6     0     1      1      0
7     3     0      0      0
8     1     1      0      0
9     3     0      1      0
10    1     0      0      0
11    0     0      0      0
12    2     1      1      2
13    1     0      1      0
14    2     1      0      0
15    2     1      0      0
16    3     0      0      0
17    2     0      0      0
18    1     0      1      0
19    3     1      1      3
20    1     1      1      1
21    1     1      0      0
22    3     1      0      0
23    3     0      0      0
24    0     0      0      0
25    2     1      0      0
26    1     1      0      0
27    2     0      0      0
28    1     0      0      0
29    0     0      0      0
30    1     1      1      1
31    0     1      1      0
32    1     1      0      0
33    2     0      0      0
34    1     1      1      1
35    1     0      0      0
36    1     1      0      0
37    3     1      1      3
38    0     1      0      0
39    2     0      1      0
40    0     0      0      0
41    2     0      0      0
42    0     1      1      0
43    2     1      0      0
44    0     0      0      0
45    0     0      1      0
46    2     0      0      0
47    1     1      1      1
48    0     1      0      0
49    3     1      0      0
50    3     1      1      3
51    2     1      0      0
52    3     1      0      0
53    2     1      1      2
54    3     0      1      0
55    0     1      0      0
56    0     1      1      0
57    2     1      0      0
58    3     0      1      0
59    3     1      0      0